<!--TODO: Refactor to use ViewModel-->

<h1>@ViewBag.Title</h1>

<form asp-controller="Food" asp-action="Remove" method="post">

    @foreach (var food in ViewBag.foods)
    {
        <input type="checkbox" name="foodIds" id="@food.ID" value="@food.ID"/>
        <label for="@food.ID">@food.Name</label>
        <br />
    }

    <input type="submit" value="Remove Selected Food(s)" />
</form>